@charset "UTF-8";
body {
  max-width: 100%;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

.header {
  max-width: 1280px;
  height: 130px;
  margin: 0 auto;
}
.header__inner {
  margin: 0em 1.5625em 0em 1.5625em;
  padding-top: 1.875em;
  padding-bottom: 0.9375em;
  display: flex;
  flex-wrap: nowrap;
  height: 130px;
}
.header__logo.logo {
  width: 60%;
  align-content: center;
}
.header__nav.nav {
  width: 40%;
  align-items: baseline;
}
@media screen and (max-width: 414px) {
  .header__nav.nav {
    display: none;
  }
}
.header__nav.nav .nav__gnav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}
.main {
  max-width: 1280px;
  margin: 0 auto;
}
.main__inner {
  margin: 0em 1.5625em 0em 1.5625em;
}

p {
  color: #707070;
}

.footer {
  background-color: #474747;
}
.footer__inner {
  margin: 0 1.5625em;
  padding-bottom: 1.875em;
}
.footer__sns {
  background-color: #FAFAFA;
  margin: 0 calc(50% - 50vw);
  padding: 3.75em 0;
}
.footer__sns .main__content__title:nth-of-type(1) {
  margin-top: 0;
  margin-bottom: 1.6666666667em;
}
.footer__sns__text {
  width: 90%;
  margin: auto;
}
.footer .sns {
  display: flex;
  justify-content: center;
}
.footer .sns__list:nth-of-type(1) {
  margin-right: 5.84375em;
}
.footer .sns__list:nth-of-type(2) {
  margin-left: 5.84375em;
}
.footer .sns:nth-of-type(1) {
  margin: 3.125em 0;
}
.footer .sns:nth-of-type(2) {
  margin: 0 4.625em 0 0;
  width: 50%;
}
.footer__nav {
  color: #FFFFFF;
  padding: 3.75em 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__logo {
  width: 50%;
  text-align: left;
}
.footer .nav {
  width: 50%;
}
.footer .nav__gnav {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-right: 4.625em;
}
.footer .nav__gnav__list {
  font-size: 12px;
}
.footer .nav__gnav__list:nth-of-type(1) {
  margin-right: 3.125em;
}
.footer .nav__gnav__list:nth-of-type(2) {
  margin: 0 3.125em;
}
.footer .nav__gnav__list:nth-of-type(3) {
  margin-left: 3.125em;
}
.footer__address {
  width: 50%;
  font-size: 12px;
  text-align: left;
}
.footer .copyright {
  color: #FFFFFF;
}

.mainblur {
  background-color: #fff;
  filter: blur(8px);
}

#g-nav {
  position: fixed;
  z-index: -1;
  opacity: 0; /*はじめは透過０*/
  top: 0;
  width: 100%;
  height: 100vh; /*ナビの高さ*/
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.3s;
}

/* panelaactiveのクラスがついたら透過無しで最前面 */
#g-nav.panelactive {
  opacity: 1;
  z-index: 998;
}

/* ナビゲーション */
#g-nav ul {
  display: none;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#g-nav.panelactive ul {
  display: block;
}

/* リストのレイアウト */
#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  color: #dfa081;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/* ボタンのためのCSS */
.openbtn1 {
  display: none;
  position: fixed;
  z-index: 999; /*最前面*/
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/* ☓に変化 */
.openbtn1 span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #dfa081;
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
  top: 15px;
}

.openbtn1 span:nth-of-type(2) {
  top: 23px;
}

.openbtn1 span:nth-of-type(3) {
  top: 31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

@media screen and (max-width: 450px) {
  .openbtn1 {
    display: block;
  }
}
.main__thumbnail {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  height: 720px;
  background-image: url(/img/LP/LP_main_visual.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__about.about {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  background-color: #FFF8F2;
  padding: 3.75em 0;
}
.main__about.about .about__text span {
  font-size: 2.25rem;
  font-weight: bold;
}
.main__Price {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  background-color: #FAFAFA;
  padding: 3.75em 0;
}
.main__Price__list {
  width: 1230px;
  height: 350px;
  border: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
}
.main__Price .main__Price__list:nth-of-type(1) {
  margin-top: 2.9375em;
  margin-bottom: 2.1875em;
}
.main__Price .main__Price__list:nth-of-type(2) {
  margin-top: 2.3125em;
  margin-bottom: 1.0625em;
}
.main__access__box {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding-top: 3.125em;
  padding-bottom: 3.75em;
}
.main__access__information {
  width: 30%;
  text-align: left;
  margin-right: 6.25em;
}
.main__access__map {
  width: 50%;
  max-width: 100%;
  max-height: 100%;
}
.main__content__title {
  font-size: 1.875rem;
  margin-top: 0.4666666667em;
  margin-bottom: 2em;
}
.main__content__title-sub {
  font-size: 1rem;
}
.main__content .main__content__title-sub:nth-of-type(3) {
  margin-top: 3em;
  margin-bottom: 3.8em;
}
.main__content__view {
  text-align: right;
}

.about__text {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #303030;
  margin-top: 3.75em;
}
.about__text-sub {
  display: block;
  font-size: 2.25rem;
  margin: 5% 0;
  font-weight: bold;
}

.Philosophy__bisual {
  z-index: 0;
  overflow: hidden;
  opacity: 0.8; /*半透明カラーの透明度*/
  position: relative;
  padding: 2% 10%;
}
.Philosophy__bisual:before {
  content: "";
  background: url("../img/about/about_main.png"); /*背景画像のURL*/
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  filter: blur(8px); /*ぼかし度*/
  position: absolute;
  background-repeat: no-repeat;
  /* 参考: http://designcolor-web.com/2016/09/14/css-blur-effects-background/*/
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  z-index: -1;
}
.Philosophy__inner {
  margin: 1.5625em;
}
.Philosophy__content {
  padding: 3.75em;
  background-color: #F9F4EF;
}
.Philosophy__writing_style__day {
  margin-bottom: 1em;
}
.Philosophy__writing_style__span {
  margin: 3% 0;
  display: block;
}
.Philosophy_writing_style_space {
  display: block;
  margin: 1.2em;
}
.Philosophy .shop {
  margin-top: 3.75em;
}
.Philosophy .shop__inner {
  width: 90%;
  margin: auto;
}
.Philosophy .shop__exterior {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 5%;
}
.Philosophy .shop__exterior-content {
  width: 50%;
  padding: 2.5em;
}
.Philosophy .shop__exterior-image {
  display: block;
  width: 50%;
  height: auto;
  width: 95%;
  margin: 0 auto;
}
.Philosophy .shop__exterior__exterior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.Philosophy .shop__exterior__exterior-text {
  line-height: 2.5em;
}
@media screen and (max-width: 450px) {
  .Philosophy .shop__exterior__exterior-text {
    font-size: 0.75rem;
    line-height: 1.6em;
  }
}
.Philosophy .shop__exterior__exterior-title {
  font-size: 1.5rem;
  margin-bottom: 4.375em;
}
.Philosophy .shop__exterior__exterior-text {
  line-height: 1.25;
}
.Philosophy .shop__exterior__interior {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.Philosophy .shop__exterior__interior-content {
  width: 50%;
  padding: 2.5em;
  margin-bottom: 5%;
}
@media screen and (max-width: 450px) {
  .Philosophy .shop__exterior__interior-content {
    font-size: 1rem;
  }
}
.Philosophy .shop__exterior__interior-content {
  padding: 2em;
  width: 50%;
}
@media screen and (max-width: 450px) {
  .Philosophy .shop__exterior__interior-content {
    padding: 0.5em;
  }
}
.Philosophy .shop__exterior__interior-image {
  display: block;
  width: 50%;
  height: auto;
}
.Philosophy .shop__exterior__interior {
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.Philosophy .shop__exterior__interior-text {
  line-height: 2.5em;
}
@media screen and (max-width: 450px) {
  .Philosophy .shop__exterior__interior-text {
    font-size: 0.75rem;
    line-height: 1.6em;
  }
}
.Philosophy .shop__exterior__interior-title {
  font-size: 1.5rem;
  margin-bottom: 4.375em;
}
.Philosophy .shop__exterior__interior-text {
  line-height: 1.25;
}
@media screen and (max-width: 450px) {
  .Philosophy .shop__exterior {
    font-size: 1rem;
  }
}
.Philosophy .shop-content {
  padding: 1em;
  width: 50%;
}
@media screen and (max-width: 450px) {
  .Philosophy .shop-content {
    padding: 0.5em;
  }
}
.Philosophy .shop-image {
  display: block;
  width: 50%;
}
.Philosophy .interview {
  background-color: #FAFAFA;
  margin-top: 3.75em;
  padding-top: 3.75em;
  padding-bottom: 5em;
}
.Philosophy .interview__inner {
  width: 90%;
  margin: auto;
}
.Philosophy .interview__content {
  margin-top: 3.75em;
  background-color: #FAFAFA;
  padding: 3.75em 0;
}
.Philosophy .interview__content__inner {
  margin: 0 auto;
  width: 95%;
}
.Philosophy .interview__content__content {
  width: 100%;
  text-align: left;
}
.Philosophy .interview__content__question {
  padding-left: 5%;
  font-size: 1.5625rem;
}
.Philosophy .interview__content__box {
  margin: 2.5em 0 3.75em 0;
  width: 80%;
  display: flex;
  align-items: flex-end;
}
.Philosophy .interview__content__image {
  width: 10%;
  height: auto;
}
.Philosophy .interview__content__answer {
  font-size: 1.25rem;
  margin-left: 2%;
}
.Philosophy .interview .events {
  margin: 3.75em;
  font-weight: normal;
  margin-left: 10%;
  font-size: 1.875rem;
  margin-bottom: 1.25em;
}
.Philosophy .interview .events__inner {
  width: 90%;
  margin: auto;
}
.Philosophy .interview .events__image {
  display: block;
  width: 32%;
}
.Philosophy .interview .events__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 2.5em;
}
@media screen and (max-width: 450px) {
  .Philosophy .interview .events {
    font-size: 1.125rem;
  }
}
.Philosophy .interview__image {
  display: block;
  width: 8%;
}
@media screen and (max-width: 450px) {
  .Philosophy .interview__image {
    width: 15%;
  }
}
.Philosophy .interview__answer {
  margin-left: 2%;
  font-size: 1.5625em;
}
@media screen and (max-width: 450px) {
  .Philosophy .interview__answer {
    font-size: 1.125rem;
  }
}
.Philosophy .interview__box {
  align-items: flex-end;
  display: flex;
  margin-bottom: 6.25em;
}
.Philosophy .events {
  margin: 3.75em 0;
}
.Philosophy .events__inner {
  width: 80%;
  margin: auto;
}
.Philosophy .events__content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3.125em;
}
@media screen and (max-width: 450px) {
  .Philosophy .events__content {
    display: block;
  }
}
.Philosophy .events__img {
  display: block;
  width: 30%;
}
@media screen and (max-width: 450px) {
  .Philosophy .events__img {
    width: 100%;
    margin-bottom: 10%;
  }
}
.Philosophy .events__text {
  width: 80%;
  margin: auto;
  line-height: 1.875;
}
@media screen and (max-width: 450px) {
  .Philosophy .events__text {
    line-height: 2.1428571429;
  }
}

/* base */
/* index */
/* about */
/* color */
/* price */